*{
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
}

.boxOne, .boxTwo{
    display: flex;
    width: 80vw;
    height:30vh;
    margin: 10px;
}

.box{
    flex: 1;
    margin: 10px;
    border-radius: 10px;
}

h1{
    color: white;
    padding-left: 20px;
    font-weight: 300;
    padding-top: 10px;
}

.one{
    background: linear-gradient(blue,rgb(167, 167, 244));
}

.two{
    background:linear-gradient(orange,rgb(248, 214, 149))
}

.three{
    background: linear-gradient(green,rgb(116, 248, 116));
}

.four{
    background: linear-gradient(purple,rgb(254, 124, 254));
}

.five{
    background: linear-gradient(red,rgb(255, 141, 141));
}

.six{
    background: linear-gradient(yellow,rgb(251, 251, 145));
}

.seven{
    background: linear-gradient(pink,rgb(255, 75, 105));
}

.eight{
    background: linear-gradient(brown,rgb(227, 169, 169));
}